ASSISTANT_MAX_MESSAGE_LENGTH=1000
ASSISTANT_RESPONSE_LIMIT=1200
ASSISTANT_LOG_LEVEL=INFO

ASSISTANT_WEB_ENABLED=1
ASSISTANT_WEB_VERIFY=0
ASSISTANT_SEARCH_PROVIDER=
ASSISTANT_WEB_CONNECT_TIMEOUT=2
ASSISTANT_WEB_READ_TIMEOUT=4
ASSISTANT_WEB_USER_AGENT=TransalcaAssistant/1.0 (+https://transalca.local)

BRAVE_SEARCH_API_KEY=
SERPER_API_KEY=
BING_SEARCH_API_KEY=

ASSISTANT_RATE_LIMIT=60
ASSISTANT_RATE_WINDOW_SECONDS=60
